body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png");
    position:sticky;
    top: 500px;
    background-color: #000000;
    background-size: 100vh;
    background: position -90px;
    background-repeat: no-repeat;
}
  
.container1 {
    text-align: center;
    padding: 20px;
    height: 100vh;
}
  
.page-title1 {
    color: #ffffff;
    margin: 0 0 5px;
    font-size: 2.5em;
}
  
.page-subtitle1 {
    color: #ffffff;
    margin-top: 1px;
    margin-bottom: 8px;
    font-size: 0.3em;
}

.container2 {
    position: relative;
    top: -260px;
    text-align: center;
    padding: 20px;
    height: 200px;
}

.page-subtitle2 {
    color: #ffffff;
    margin-top: 1px;
    margin-bottom: 8px;
    font-size: 0.8em;
}

.real {
    color: #ffffff;
    margin-top: 4px;
    font-size: 0.9em;
}

.page-logo {
    width: 250px;
    margin-top: 25px;
}
  
.alura-logo {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 15px;
}
  
input {
    margin-top: 2px;
    padding: 9px;
    border-radius: 5px;
}
  
label {
    color: white;
    font-size: 0.3em;
    margin-top: 150px;

}
  
button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 5px;
    background: #f0b208;
    color: rgb(206, 150, 9)
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); 
}
  
h2 {
    color: #ffffff;
    font-size: 30px;
}

.flag-usa{
    position: relative;
    top: -650px;
    left: 770px;
    max-width: 50px;
    max-height: ;
}

.flag-brazil{
    position: relative;
    top: -455px;
    left: 720px;
    max-width: 33px;
}

  