body{
    background: linear-gradient(236.85deg, #041832 27.30%, #3468A7 96.03%);
    font-family:'Courier New', Courier, monospace;
}

.container{
    background: #ECF4FF;
    color: #5a5656;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0E1D2F;
    padding: 64px;
}

.altera-tema{
    display: flex;
    justify-content: space-between;
}

.perfil{
    display: flex;
}

.perfil-foto{
    border-radius: 469px;
    max-height: 160px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo{
    margin-left: 16px;
    position: relative;
    top: 120px;
}

.titulo h1{
    position:relative;
    top: 15px;
    font-weight: 700;
    font-size: 36px;
}

.titulo h2{
    position: relative;
    top: 0px;
    font-size: 19px;
    font-weight: 400;
}

.tema button{
    border-radius: 80px;
    align-self: flex-end;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 32px;
    background: #ECF4FF
    outline: 2px solid darkorchid;
    outline-offset: 2px;
}

.projetos{
    display: flex;
    flex-direction: column;
    background: linear-gradient(236.85deg, #041832 27.30%, #3468A7 96.03%);
    margin-top: 32px;
    padding: 32px;   
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(16 16 16 0.42);
}

.projeto-titulo{
    position: relative;
    right: 18px;
    font-weight: 700;
    font-size: 30px;
    /* color:  #929090;  */
}

.projetos-item{
    margin-left: 39px;
    font-weight: 400;
    font-size: 20px; 
    list-style-type: none; /* remove as bolinhas dos links */
    line-height: 40px; /* altura das linhas */
}

.projetos-item a{
    left: 400px;
    color: green;
    text-decoration: none;
    /* remove os sublinhados do hiper-link */
    color:  #929090;
    text-decoration: none;
    /* ajusta a cor da fonte */
}

a:hover{ /* efeito de troca de cores no momento que o cursor passa sob o link */
    color: #ffffff;
    text-decoration: none;
}

.mackenzie{
    max-width: 30px;
    max-height: 30px;
    position: relative;
    left: 450px;
    top: -1055px;
}

.alura{
    max-width: 29px;
    max-height: 29px;
    position: relative;
    left: 450px;
    top: -4740px;
}

.javascript{
    max-width: 29px;
    max-height: 29px;
    position: relative;
    left: 493px;
    top: -1125px;
    mix-blend-mode: multiply;
}

.html{
    max-width: 43px;
    max-height: 43px;
    position: relative;
    left: 525px;
    top: -587px;
    mix-blend-mode: multiply;

}

.dark{
    background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .container{
    background: #18181b;
    color: #f6f6f6; 
}

/* .dark .projetos{
    color:#1C1C1C;
} */

.dark .tema button{
    background: #1C1C1C;
    color:#ffffff;
    border: 2px solid #f7f7f7;
}

.gitHub{
    position: relative;
    background-image: url("./logo-github1.png");
    mix-blend-mode: multiply;
    max-width: 15%;
    max-width: 15%;
    top: -4550px;
    left: 850px;

}

/* footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
} */

.Copyright { 
    position: relative;
    left: 50px;
	font-size: 15px;
	color: #0f0f0f;
	margin: 20px 0 0;
    /* text-align: center; */
}


